{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{template "title"}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header>
    <h1>Google Contact Labels</h1>
    <nav>
      <ul>
        <li><a href="/index.html">Authorize</a></li>
        <li><a href="#">Labelize</a></li>
      </ul>
    </nav>
  </header>

  <main class=".pure-u-1">
    <section>
      {{template "body" .}}
    </section>
  </main>

  <footer>
    <p>&copy; 2023 tfager. All rights reserved.</p>
  </footer>
</body>
</html>
{{end}}